.profile {
  color: #2b2b2b;
  padding: 2rem 4rem;
  background-color: #f7e6c4;
  font-family: Georgia, serif;
  text-align: center;
}
.container {
  background-color: #1f3629;
  color: white;
  font-family: Georgia, serif;
}
h1 {
  color: #1f3629;
  font-family: Georgia, serif;
}
p {
  color: #1f3629;
}
.col {
  color: #1f3629;
  font-family: Georgia, serif;
}
